@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

.navmenu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  nav {
    list-style-type: none;
    color: red;
    flex-wrap: wrap;
  }
}

.player {
  margin-left: 30%;
}
